.headerContainer {
	padding: 20px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	.logo {
		align-self: center;
		padding: 10px 0;
	}
	.menu {
		display: flex;
		justify-content: center;
		align-items: center;

		a {
			padding: 0 0.6rem;
			color: var(--primaryTextColor);
			text-transform: uppercase;
			font-size: 0.9rem;
			display: inline-block;
			font-weight: 600;
			transition: filter 0.4s;

			& + a {
				border-left: 1px solid var(--primaryTextColor);
			}

			&:hover {
				filter: brightness(0.5);
			}

			&.active {
				font-weight: 700;
			}
		}
	}

	/* .mobileButton {
		position: absolute;
		left: 10px;
		color: var(--primaryTextColor);
		background-color: var(--whiteColor);
		border: 1px solid var(--primaryTextColor);
		border-radius: 10px;
		height: 40px;
		width: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: 0.3s;
		cursor: pointer;

		&::after {
			content: "";
			display: block;
			width: 1rem;
			height: 2px;
			background-color: currentColor;
			border-radius: 2px;
			box-shadow: 0 6px currentColor, 0 -6px currentColor;
			transition: 0.2s;
		}

		&:focus,
		&:hover,
		.mobileButtonActive {
			outline: none;
			box-shadow: 0 0 0 3px var(--secondTextColor);
			border-color: var(--secondTextColor);
			color: var(--secondTextColor);
		}
	}

	.mobileButtonActive::after {
		transform: rotate(-90deg);
		width: 4px;
		height: 4px;
		box-shadow: 0 8px currentColor, 0 -8px currentColor;
	}

	.menuNav {
		display: block;
		position: absolute;
		top: 95px;
		left: 10px;
		padding: 0 10px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
		background-color: var(--whiteColor);
		border-radius: 10px;
		transform: translateX(-10px);
		opacity: 0;
		pointer-events: none;

		a {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 10px 0;
			color: var(--primaryTextColor);
			text-transform: uppercase;
			font-size: 0.9rem;
			font-weight: 600;
			transition: all 0.2s;

			& + a {
				border-top: 1px solid var(--primaryTextColor);
			}

			&:hover {
				filter: brightness(0.5);
			}
		}
	}
	.menuNavActive {
		transition: .4s;
		transform: initial;
		z-index: 100;
		opacity: 1;
		pointer-events: initial;
	} */
}

@media (max-width: 768px) {
	.headerContainer {
		.menu {
			display: none;
		}

		.mobileButton {
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 10px;
			color: var(--primaryTextColor);
			background-color: var(--whiteColor);
			border: 1px solid var(--primaryTextColor);
			border-radius: 10px;
			height: 40px;
			width: 40px;
			transform: 0.3s;
			cursor: pointer;

			&::after {
				content: "";
				display: block;
				width: 1rem;
				height: 2px;
				background-color: currentColor;
				border-radius: 2px;
				box-shadow: 0 6px currentColor, 0 -6px currentColor;
				transition: 0.2s;
			}

			&:focus,
			&:hover,
			.mobileButtonActive {
				outline: none;
				box-shadow: 0 0 0 3px var(--secondTextColor);
				border-color: var(--secondTextColor);
				color: var(--secondTextColor);
			}
		}

		.mobileButtonActive::after {
			transform: rotate(-90deg);
			width: 4px;
			height: 4px;
			box-shadow: 0 8px currentColor, 0 -8px currentColor;
		}

		.menuNav {
			display: block;
			position: absolute;
			top: 95px;
			left: 10px;
			padding: 0 10px;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
			background-color: var(--whiteColor);
			border-radius: 10px;
			transform: translateX(-10px);
			opacity: 0;
			pointer-events: none;

			a {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 10px 0;
				color: var(--primaryTextColor);
				text-transform: uppercase;
				font-size: 0.9rem;
				font-weight: 600;
				transition: all 0.2s;

				& + a {
					border-top: 1px solid var(--primaryTextColor);
				}

				&:hover {
					filter: brightness(0.5);
				}
			}
		}
		.menuNavActive {
			transition: 0.4s;
			transform: initial;
			z-index: 100;
			opacity: 1;
			pointer-events: initial;
		}
	}
}
