.footer {
	display: flex;
	justify-content: center;
	padding: 20px 0 120px 0;
	background-color: var(--bgColorOne);

	.logo {
		margin-bottom: 1.5rem;
		max-width: 260px;
		img {
			width: 100%;
			height: 100%;
		}
	}
	.footer_container {
		display: grid;
		grid-template-columns: repeat(3, 1fr) 2fr;
		color: var(--bottomColor);

		.contact_footer {
			h2 {
				font-size: 0.9rem;
				margin-bottom: 0.2rem;
			}
			p {
				font-size: 0.9rem;
				font-weight: 600;
			}

			& + .contact_footer {
				margin-right: 2rem;
			}
		}
		.partnership_footer {
			margin-left: auto;
			h2 {
				font-size: 0.9rem;
				margin-bottom: 0.2rem;
			}
			.image_partner {
				max-width: 200px;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}
	}

	.whatsapp {
		display: flex;
		flex-direction: column;
		align-items: center;
		position: fixed;
		bottom: 50px;
		right: 30px;
		z-index: 10;

		// .buttonWhats {
		// }
		&:hover {
			animation: animaButton 1s linear infinite;
		}
		span {
			background-color: var(--bgColorOne);
			color: var(--bottomColor);
			padding: 10px;
			border-radius: 15px;
			font-weight: 600;
			font-size: 0.9rem;
		}
	}
}

@media (max-width: 980px) {
	.footer {
		padding: 50px 0;
		.logo {
			margin: 0 auto 1.5rem auto;
		}
		.footer_container {
			display: grid;
			grid-template-columns: 1fr;
			justify-content: center;
			align-self: center;

			.contact_footer {
				text-align: center;
				margin-bottom: 1.5rem;
				padding: 0 5px;
				& + .contact_footer {
					margin-right: 0;
				}
			}
			.partnership_footer {
				margin-left: 0;
				text-align: center;

				.image_partner {
					margin: 0 auto;
				}
			}
		}
	}
}
@media (max-width: 768px) {
	.footer {
		.whatsapp {
			bottom: 30px;
			right: 10px;

			span {
				padding: 5px 8px;
				font-size: 0.8rem;
			}
		}
	}
}

@keyframes animaButton {
	0% {
		transform: translate(1px, 1px) rotate(0deg);
	}
	10% {
		transform: translate(-1px, -2px) rotate(-1deg);
	}
	20% {
		transform: translate(-2px, 0px) rotate(1deg);
	}
	30% {
		transform: translate(2px, 2px) rotate(0deg);
	}
	40% {
		transform: translate(1px, -1px) rotate(1deg);
	}
	50% {
		transform: translate(-1px, 2px) rotate(-1deg);
	}
	60% {
		transform: translate(1px, -2px) rotate(0deg);
	}
	70% {
		transform: translate(2px, -1px) rotate(1deg);
	}
	80% {
		transform: translate(-1px, -1px) rotate(-1deg);
	}
	90% {
		transform: translate(1px, 2px) rotate(0deg);
	}
	100% {
		transform: translate(-1px, -2px) rotate(1deg);
	}
}
